<section id="primary-content">
    <div class="wrapper">
        {{#each this}}
        <h1 class="above">{{title}} </h1>
        <div id="medium">
            <section id="medium-content">
                <h3>{{author}} </h3>
                <div class="tooltip">
                    <select id="example{{id}}" class="example" review-id="{{id}}" data-rating="{{rating}}">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                    <span class="tooltiptext">Select and rate</span>
                </div>
                <span id="rate"> | Rate it</span> {{#if userVote}}
                <span class="your-rating">
                  Rating: {{rating}} | Your rating: {{userVote}}
                </span>{{/if}}
                <img src="../images/border.png">
                <address>Posted by {{postedBy}} on
                    <time>{{date}}</time> in Some Category | 30 Comments</address>
                <div id="p-1">
                    <img id="box" src="{{image}}">
                    <p>{{description}}</p>
                </div>
            </section>
            <section id="medium-content">
                <div class="comments">
                    {{#if posts}} {{#each posts}}
                    <h1>Comments</h1>
                    <img src="../images/border.png">

                    <div id="comment">
                        {{#if photoUrl}}
                        <img src="{{photoUrl}}" alt="userPhoto" class="user-photo"> {{else}}
                        <img src="../images/Profile_avatar_placeholder.png" alt="userPhoto" class="user-photo"> {{/if}}
                        <div class="comment-box">
                            <h2>{{postedBy}} says: </h2>
                            <p class="comment-p">{{message}}</p>
                            <a href="#/books/id/{{bookId}}/posts/add"><button class="btn">Comment</button></a>

                        </div>
                        <time>{{date}}</time>
                        {{#if sub-comment}}
                        <div id="sub-comment"> {{!--Start sub-comment--}}
                            <img src="../images/0833393_b.jpg" class="user-photo sub-user-photo">
                            <div class="comment-box sub-somment-box">
                                <h2>Nik Roach says: </h2>
                                <p class="comment-p sub-comment-p">Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio.
                                    Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue.
                                    Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique
                                    at, mattis ut arcu. Vivamus bibendum dolor eget lacus hendrerit et egestas risus tincidunt.
                                    Vivamus convallis magna sit amet orci vehicula suscipit. Quisque rhoncus lorem in ligula
                                    condimentum sollicitudin at a massa. Donec mattis, libero at euismod semper, magnaest
                                </p>
                                <a href="#/books/id/{{bookId}}/posts/add"><button class="btn">Comment</button></a>
                            </div>
                            <time>11.03.2017</time>
                        </div> {{!--End sub-comment--}}
                         {{/if}}
                    </div> {{!--End comment--}} {{/each}} {{/if}}
                </div> {{!--End comments--}}
                <a href="#/books/id/{{id}}/posts/add" class="commentLink">
                    <h1>Leave a Comment</h1>
                </a>
                <img src="../images/border.png">
            </section>
            <aside>
                <div>
                    <h2>Recent Posts</h2>
                    <div id="a-1">
                        <p>Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi
                            lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit
                            amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut
                            arcu.
                        </p>
                    </div>
                </div>
                <div>
                    <h2 id="second-h2">Recent Posts</h2>
                    <div id="a-2">
                        <p>Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi
                            lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit
                            amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut
                            arcu.
                        </p>
                    </div>
                </div>
                <div>
                    <h2 id="second-h2">Recent Comments</h2>
                    <div id="a-2">
                        <p>Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi
                            lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit
                            amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut
                            arcu.
                        </p>
                    </div>
                </div>
            </aside>
        </div> {{!--end medium--}} {{/each}}
    </div>
</section>