<section id="primary-content">
        <h1 class="above"> Profile Page</h1>
        <div id="medium">
            <div class="form">
                <div class="imgcontainer">
                    {{#if photoUrl}}
                    <img src="{{photoUrl}}" alt="userPhoto" class="avatar">
                    {{else}}
                    <img src="../images/Profile_avatar_placeholder.png" alt="userPhoto" class="avatar">
                    {{/if}}
                    <p><b>Username:</b> {{username}}</p>
                    <p><b>E-mail:</b> {{email}}</p>
                </div>
                <br>
                <h2>My Books: </h2>
                <ol>
                    {{#each books}}
                    <li><b> {{title}}</b> - {{author}} </li>
                    {{/each}}
                </ol>
                {{#if posts}}
                {{#each posts}}
                <h2>My Comments: </h2>
                <ul><li>{{message}}</li></ul>
                {{/each}}
                {{/if}}
            </div>
        </div>
</section>